*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  :root{
   --dark-purple:#210535;
   --purple: #7b337d;
   --light-purple: #c874b2;
   --lighter-purple: #a0e2eb;

   --blue: #001736
}
 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 300px;
 } 
 .title {
   color: var(--lighter-purple);
   font-size: 1.5rem;
   font-weight: 700;
   margin: 10px ;
 
 }
 @media (max-width:992px) {

   .container{
    margin:20px  }
   
 }