*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }
  :root{
    --dark-purple:#210535;
    --purple: #7b337d;
    --light-purple: #c874b2;
    --blue: #001736
}
.project{
    margin-top:50px
}
.projects{

    display:flex;
    

}
.projects p{
    text-align:center;
    font-size: 1rem;
    line-height: 1.3rem;
}
#pr-title{
    margin:20px;
    color: var(--purple);
}
.prj{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   margin: 20px;
   padding: 20px
}
.prj a{
    margin:20px;
    font-size: 2rem;
}

.prj h3{
    margin:10px auto;
    color:var(--light-purple);
}
img{
    width:200px;
   
}
.desc{
    color:white
}
@media (max-width:992px) {
    .projects{
        flex-direction: column;

    }
    img{
        width:120px
    }
    
}